<div class="container-fluid text-center justify-content-center">
    <div id="rand">Random Password Generator</div>


<!--
    Character Input
-->
<div class="row">
    <div class="col-4"></div>

    <div class=" col-3 input-group mb-3 px-3 justify-content-center">
        <span class="input-group-text input-custom-2" id="basic-addon1">
            <div class="p-1" style="font-size: 10pt; font-weight: bold;">How many characters are needed?</div>
            
            <input type="text" class="form-control input-custom" placeholder="characters">
        </span>
    </div>
    <div class="col-4"></div>

</div>
    

<!--
    password
-->
<div class="row">

    <div class=" input-group mb-3 px-3 justify-content-center">
        <span id="pass-text"class="input-custom-2" id="basic-addon1">
            <input type="text" class="form-control input-custom" placeholder="pass...">
        </span>
    </div>

</div>

<!--

    low med high bar**** TODO
-->

    <div class="row justify-content-center mb-3">

        <div class="col-4"></div>

        <div id="low-med-high" class="col-1">
            <span class="low">low </span>
        </div>

        <div id="low-med-high" class="col-1">
            <span class="med">med </span>
        </div>

        <div id="low-med-high" class="col-1">
            <span class="high">high</span>
        </div>

        <div class="col-4"></div>

    </div>


<!--
    RETURNED password
-->
<div class="row">

    <div class="input-group mb-3 px-3 justify-content-center">
        <span id="pass-text"class="input-custom-2" id="basic-addon1">
            <input class="form-control" type="text" placeholder="your new password" readonly>
        </span>
    </div>

</div>



<hr>

<div id="rand">Password Strength Tester</div>


<!--
    MY PASSWORD STRENGTH
-->
<div class="row">
    <div class="col-4"></div>

    <div class=" col-3 input-group mb-3 px-3 justify-content-center">
        <span class="input-group-text input-custom-2" id="basic-addon1">
            <div class="p-1" style="font-size: 10pt; font-weight: bold;"></div>
            
            <input type="text" class="form-control input-custom" placeholder="your password...">
        </span>
    </div>
    <div class="col-4"></div>

</div>
<!--

    low med high bar**** TODO
-->

<div class="row justify-content-center mb-3">

    <div class="col-4"></div>

    <div id="low-med-high" class="col-1">
        <span class="low">low </span>
    </div>

    <div id="low-med-high" class="col-1">
        <span class="med">med </span>
    </div>

    <div id="low-med-high" class="col-1">
        <span class="high">high</span>
    </div>

    <div class="col-4"></div>

</div>
    
</div>