p{
    text-indent: 1rem;
    text-align: left;
}
.input-custom{
    width:fit-content;
    justify-content: center;
}
.container-fluid{
    background-color: #2e4045;
}
#rand{
    padding:2rem;
    font-weight: bold;
    font-size: 2rem;
}

.low{
    color: red;
    font-weight: bold;
    
}
.med{
    color:rgb(238, 238, 105);
    font-weight: bold;
}
.high{
    color:green;
    font-weight: bold;
    
}

.run-button {
    background-image: linear-gradient(#83adb5, #5b787e);
    font-size: 15pt;
    font-weight: 700;
    color: rgb(43, 42, 42);
    height: 3rem;
    width: 20%;
    transition: transform cubic-bezier(.68,-0.55,.59,3.32) .3s;
}
.textbox{
    width: 75%;
    margin: auto;
}
.red{
    background-color: red;
    color: black;
    font-weight: 300;
}
.yellow{
    background-color: yellow;
    color: black;
    font-weight: 300;
}
.green{
    background-color: green;
    color: black;
    font-weight: 300;
}
.strengthbox{
    text-align: center;
    width: 20%;
    margin: auto;
    box-shadow: 1rem;
    font-style: bold;
}
.run-button:hover {
    background-image: linear-gradient(#83adb5, #5b787e);
    font-size: 15pt;
    font-weight: 700;
    color: rgb(43, 42, 42);
    height:3rem;
    width: 20%;
    transform: translatey(-6px);
}
