<div class="container-fluid text-center justify-content-center">
    <div id="rand">Random Password Generator</div>


<!--
    Character Input
-->
<div class="row">
    <div class="col-4"></div>

        <div class="input-group mb-3">
            <div class="form-group pt-4" style="margin:auto;">
                <label for="exampleFormControlTextarea1">How many characters are needed?</label>
                <input type="number" min="1" max="100" id="inputChars" style="width:50%;margin: auto;" class="form-control input-custom" placeholder="chars..." #inputChars>
              </div>
          </div>
       
 
    <div class="col-4"></div>

</div>
<!-- Run button -->

<div class="row">
    <div class="run button pt-4 pb-4">
        <button  (click)="generatePass()"type="button" id="run" class="btn run-button shadow">GENERATE</button>
      </div>
</div>
    
<!--
    RETURNED password
-->
<div class="row">

    <div class="input-group mb-3 justify-content-center" style="width:20%; margin:auto;">
            <textarea rows="1" style="text-align: center;"class="form-control textbox" value="{{this.newPassword}}"type="text" readonly></textarea>
    </div>

</div>

<!--

    low med high bar**** TODO
-->

    <div class="row justify-content-center">

        <div class="col-4"></div>

        <div *ngIf="this.strengthLevel == 'low'">
            <button rows="1" class="strengthbox red"><i>{{this.strengthLevel}}</i></button>
        </div>
        <div *ngIf="this.strengthLevel == 'med'">
            <button rows="1" class="strengthbox yellow"><i>{{this.strengthLevel}}</i></button>
        </div>
        <div *ngIf="this.strengthLevel == 'high'">
            <button rows="1" class="strengthbox green"><i>{{this.strengthLevel}}</i></button>
        </div>
       
       

        <div class="col-4"></div>

    </div>
    

<hr>

<div id="rand">Password Strength Tester</div>


<!--
    MY PASSWORD STRENGTH
-->
<div class="row">
    <div class="col-4"></div>

    <div class=" col-3 input-group mb-3 px-3 justify-content-center">
        <span class="input-group-text input-custom-2" id="basic-addon1">
            <div class="p-1" style="font-size: 10pt; font-weight: bold;"></div>
            
            <input type="password" id="passInput" class="form-control input-custom" placeholder="your password..." #passInput>
        </span>
    </div>
    <div class="col-4"></div>

</div>
<!-- Run button -->

<div class="row">
    <div class="run button pt-4 pb-4">
        <button  (click)="testMyPass()"type="button" id="run" class="btn run-button shadow">TEST!</button>
      </div>
</div>
<!--

    low med high bar**** TODO
-->

<div class="row justify-content-center">

    <div class="col-4"></div>

    <div *ngIf="this.myStrength == 'low'">
        <button rows="1" class="strengthbox red"><i>{{this.myStrength}}</i></button>
    </div>
    <div *ngIf="this.myStrength == 'med'">
        <button rows="1" class="strengthbox yellow"><i>{{this.myStrength}}</i></button>
    </div>
    <div *ngIf="this.myStrength == 'high'">
        <button rows="1" class="strengthbox green"><i>{{this.myStrength}}</i></button>
    </div>
   
   

    <div class="col-4"></div>

</div>
    
</div>