

<div class="container-fluid text-center rounded shadow justify-content-center mt-3 col-6">
    <div id="rand">Random Password Generator</div>


<!--
    Character Input
-->
<div class="row">
    <div class="col-4"></div>

        <div class="input-group mb-3">
            <div class="form-group pt-4" style="margin:auto;">
                <label for="exampleFormControlTextarea1">How many characters are needed?</label>
                <input type="number" min="1" max="100" id="inputChars" style="width:50%;margin: auto;" class="form-control input-custom" placeholder="chars..." #inputChars>
              </div>
          </div>
       
 
    <div class="col-4"></div>

</div>
<!-- Run button -->

<div class="row">
    <div class="run button pt-4 pb-4">
        <button  (click)="generatePass()"type="button" id="run" class="btn run-button shadow">GENERATE</button>
      </div>
</div>
    
<!--
    RETURNED password
-->
<div class="row">

    <div class="input-group mb-3" style="width:50%; margin:auto;">
            <textarea rows="3" style="text-align: left;resize: none;"class="form-control textbox" value="{{this.newPassword}}"type="text" readonly></textarea>
    </div>

</div>

<!--

    low med high bar**** TODO
-->

    <div class="row justify-content-center">

        <div class="col-4"></div>

        <div *ngIf="this.strengthLevel == 'low'">
            <button rows="1" class="strengthbox red"><i>{{this.strengthLevel}}</i></button>
        </div>
        <div *ngIf="this.strengthLevel == 'med'">
            <button rows="1" class="strengthbox yellow"><i>{{this.strengthLevel}}</i></button>
        </div>
        <div *ngIf="this.strengthLevel == 'high'">
            <button rows="1" class="strengthbox green"><i>{{this.strengthLevel}}</i></button>
        </div>
       
       

        <div class="col-4"></div>

    </div>
    

<hr>

<div id="rand">Password Strength Tester</div>


<!--
    MY PASSWORD STRENGTH
-->
<div class="row">

    <div *ngIf="">

    </div>
    <input type="password" style="width:30%;margin:auto;" id="passInput" class="form-control " placeholder="your password..." #passInput>

    <span ><input (change)="showPass()" id="passVis" type="checkbox" #passVis> show</span>


</div>
<!-- Run button -->

<div class="row">
    <div class="run button pt-4 pb-4">
        <button  (click)="testMyPass()"type="button" id="run" class="btn run-button shadow">TEST!</button>
      </div>
</div>
<!--

    low med high bar**** TODO
-->

<div class="row justify-content-center pb-4">

    <div class="col-4"></div>

    <div *ngIf="this.myStrength == 'low'">
        <button rows="1" class="strengthbox red"><i>{{this.myStrength}}</i></button>
    </div>
    <div *ngIf="this.myStrength == 'med'">
        <button rows="1" class="strengthbox yellow"><i>{{this.myStrength}}</i></button>
    </div>
    <div *ngIf="this.myStrength == 'high'">
        <button rows="1" class="strengthbox green"><i>{{this.myStrength}}</i></button>
    </div>
   
   

    <div class="col-4 pb-4"></div>

</div>
    
</div>
