<div class="d-flex flex-row">
    <div class="col-3">
    </div>

    <div class="d-flex col-6 bio rounded shadow mt-3 justify-content-center py-2">

        <div class="text-center">
            <p class="text">Cameron Johnson</p>
            <img class="rounded shadow"src="\assets\cameron.jpg" style="width: 25rem;height: 30rem;">
            <p class="tab">Hello! My name is Cameron Johnson(he/him), and I am a 21 year old living in Morgantown, West Virginia. I'm a 3rd year student at West Virginia University 
                studying Computer Science and Mathematics. I previously studied at Marshall University for Computer Science for the introductory courses.

            </p>
        </div>
    </div>


    <div class="col-3">
    </div>
</div>