<h1 class="text text-center pt-4">Cameron Johnson</h1>

<div class="d-flex flex-row">
    <div class="col-3">
    </div>

    <div class="d-flex col-6 bio rounded shadow mt-3  py-2">

        <div class="d-flex">
            <img class=" rounded shadow" src="\assets\cameron.jpg"
                style="width: 10rem;height: 12rem; margin-left: 1rem;">
            <div class="col-1"></div>
            <p class="pl-3" style="text-indent: 3rem;">My name is Cameron Johnson(he/him), and I am a 21 year old living
                in Morgantown, West Virginia. I'm a 3rd year student at West Virginia University studying Computer
                Science and Mathematics. I previously studied at Marshall University for Computer Science as well. I am
                a contributor of this web application for WVU's Spring 2022 CS 230 class as a final project. My work was
                focused on the front end, and <a routerLink="/Ciphers">Ciphers</a> and <a routerLink="/Passwords">Passwords</a> pages.
            </p>

        </div>
    </div>


    <div class="col-3">
    </div>
</div>