.a-custom{
    text-decoration: none;
    color: #bfb5b2;
}

.a-custom:hover{
    text-decoration: none;
    color: #83adb5;
}

.link-font {
    font-size: 18pt;
    font-weight: 700;
}

.top-custom {
    background-color: #5e3c58;
}

.link-anim {
    transition: transform cubic-bezier(.65,.05,.36,1) .3s;
}

.link-anim:hover {
    transform: translatey(5px);
}

.logo-anim {
    transition: scale cubic-bezier(.65,.05,.36,1) .3s;
}

.logo-anim:hover {
    scale: 1.1;
}