<div class="d-flex flex-row py-2 shadow">
  <div class="col-1 mx-3">
    <a rounterLink="H">
    <img src="\assets\Logo.png" alt="" height="60">
  </a>
  </div>

  

  <div class="col-10">
    <div class="d-flex flex-row justify-content-center pt-2">
      <div class="col-auto mx-5">
        <a routerLink="" class="a-custom">
        <span class="link-font" >Simulation</span>
      </a>
      </div>

      <div class="col-auto mx-5">
        <a routerLink="Info" class="a-custom">
        <span class="link-font">Info</span>
      </a>
      </div>

      <div class="col-auto mx-5">
        <a routerLink="Ciphers" class="a-custom">
        <span class="link-font">Ciphers</span>
      </a>
      </div>

      <div class="col-auto mx-5">
        <a routerLink="Passwords" class="a-custom">
        <span class="link-font" >Passwords</span>
      </a>
      </div>
    </div>
  </div>
</div>