<h1 class="text text-center pt-4">Tom Hasselman</h1>

<div class="d-flex flex-row">
    <div class="col-3">
    </div>

    <div class="d-flex col-6 bio rounded shadow mt-3  py-2">

        <div class="d-flex">
            <img class="rounded shadow" src="\assets\Tom.jpg"
                style="width: 10rem; margin-left: 1rem;">
            <div class="col-1"></div>
            <!--
                place bio below
            -->
            <p class="pl-3" style="text-indent: 3rem;">
                My name is Tom Hasselman (He/Him), and I am 28 (lol ok boomer).
                I am from Hedgesvill, WV where I attended Hedgesvill High School, but I've lived in 
                Morgantown, WV for about 6 years. My work on this project focused heavily on the 
                <a routerLink="" class="a-custom">Simulation Page</a>. I am interested in cybersecurity and I like to spend my 
                time learning and practicing various red-teaming skills as my goal is to become a pentester. 
                I would say I like long walks on the beach, but I have never felt sand since I cannot afford a vacation. 
                #SeekingEmployment 
            </p>

        </div>
    </div>


    <div class="col-3">
    </div>
</div>