.bio {
    background-color: #2e4045;
}

.text {
    font-size: 18pt;
    font-weight: 700;
}

.link {
    font-size: 14pt;
    font-weight: 500;
}

.a-custom{
    text-decoration: none;
    color: #999391;
}

.a-custom:hover{
    text-decoration: none;
    color: #83adb5;
}

.link-anim {
    transition: transform cubic-bezier(.65,.05,.36,1) .3s;
}

.link-anim:hover {
    transform: translatey(-5px);
}