<div class="sidebar mt-5 ms-2 rounded">
    <span class="d-flex header justify-content-center py-3 ">Parameters</span>

    <div class="input-group mb-3 px-3">
        <span class="input-group-text input-custom-2" id="basic-addon1">
            <img src="assets\database.png" alt="" height="20">
        </span>
        <input type="text" class="form-control input-custom" placeholder="number of nodes" >
      </div>

      <div class="dropdown px-3 mb-3">
        <button class="btn btn-secondary dropdown-toggle input-custom" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Malware Type
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Trojan</a>
          <a class="dropdown-item" href="#">Ransomware</a>
          <a class="dropdown-item" href="#">Virus</a>
          <a class="dropdown-item" href="#">Worm</a>
        </div>
      </div>

      <div class="dropdown px-3 mb-3">
        <button class="btn btn-secondary dropdown-toggle input-custom" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Security Level
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Low</a>
          <a class="dropdown-item" href="#">Medium</a>
          <a class="dropdown-item" href="#">High</a>
        </div>
      </div>

</div>