#rand{
    padding:2rem;
    font-weight: bold;
    font-size: 2rem;
}
.btn-custom {
    color: #2c2c2c;
}
.textbox{
    width: 50%;
    margin: auto;
    height: 10rem;
}
.copy{
    
    background-image: linear-gradient(#83adb5, #5b787e);
    font-size: 10pt;
    font-weight: 700;
    color: rgb(43, 42, 42);
    height: 2rem;
    width: 10%;
}
.run-button {
    background-image: linear-gradient(#83adb5, #5b787e);
    font-size: 20pt;
    font-weight: 700;
    color: rgb(43, 42, 42);
    height: 6rem;
    width: 35%;
    transition: transform cubic-bezier(.68,-0.55,.59,3.32) .3s;
}

.run-button:hover {
    background-image: linear-gradient(#83adb5, #5b787e);
    font-size: 20pt;
    font-weight: 700;
    color: rgb(43, 42, 42);
    height:6rem;
    width: 35%;
    transform: translatey(-6px);
}
